{% extends "master.html" %}
{% block content %}
    <div class="jumbotron text-center">
    <form action="getData/" method="post" class="form">
    {% csrf_token %}
    <div>
        <label class="form-row">Please enter something to see how it works...</label>
        <input class="form-control" type="text" name="keyword" placeholder="Please enter keyword to search...">
        <button type="submit" class="btn btn-default navbar-btn form-row">Search<i class="ion-android-arrow-forward"></i></button>
    </div>
    </form>
    </div>
{% endblock %}